
.widget-top {
  margin: 0 0 22px;
  overflow: hidden;
  .close {
    float: right;
    background: #FFF url("./close.svg") no-repeat center center;
    border-radius: 12px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  .back {
    background: #FFF url("./back.svg") no-repeat center center;
    border-radius: 12px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    float: left;
  }
}